.word-grid-container {
  width: 98vw;
  max-width: 590px;
}

.word-row {
  display: flex;
}

.word-cell {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 3.7px;
  background-color: #f0f0f0;
  border: 2px solid #cecccc;
  border-radius: 2vw;
  text-transform: uppercase;
  user-select: none;
  width: 25%;
  height: 22vw;
  max-height: 140px;
  overflow: hidden;
  font-size: min(3.6vw, 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-wrap: break-word;
}

.word-cell.selected {
  color: white;
  background-color: rgb(90, 89, 78);
  border: 2px solid rgb(60, 60, 53);
}

.answer-cell {
  width: auto;
}

.yellow-answer {
  color: black;
  background-color: rgb(249, 223, 109);
  border: 2px solid rgb(230, 199, 61);
}

.green-answer {
  color: black;
  background-color: rgb(160, 195, 90);
  border: 2px solid rgb(114, 141, 61);
}

.blue-answer {
  color: black;
  background-color: rgb(176, 196, 239);
  border: 2px solid rgb(110, 149, 235);
}

.purple-answer {
  color: black;
  background-color: rgb(186, 129, 197);
  border: 2px solid rgb(154, 57, 173);
}

.answers {
  font-weight: 300;
}

.play-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.play-buttons-container {
  margin: auto;
}

.end-game-button {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  background-color: rgb(204, 206, 210);
  border: 2px solid rgb(144, 146, 150);
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.deselect-button,
.share-button,
.shuffle-button,
.submit-button {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(204, 206, 210);
  border: 2px solid rgb(144, 146, 150);
  font-size: min(3.6vw, 20px);
  font-weight: 500;
  color: black;
  margin: 3px;
}

.loss-buttons {
  display: flex;
  flex-direction: column;
}

.copy-text {
  font-family: "Poppins", sans-serif;
  font-size: min(3.6vw, 20px);
  font-weight: 500;
  margin: auto;
}
