.attempts-remaining {
  display: flex;
  margin: auto;
}

.circle {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: rgb(90, 89, 78);
  border: 2px solid rgb(64, 64, 56);
  margin-right: 5px;
}
