.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.not-found-title {
  font-size: 2em;
  color: #d9534f;
  font-family: "Poppins", sans-serif;
}

.not-found-text {
  font-size: 1.2em;
  color: #777;
  font-family: "Poppins", sans-serif;
}
