.word-grid {
  display: block;
}

.word-row {
  display: flex;
}

.word-cell {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  flex: 1;
  padding: 10px;
  text-align: center;
  margin: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-transform: uppercase;
  user-select: none;
}

.word-cell.selected {
  color: white;
  background-color: rgb(90, 89, 78);
}

.word-cell.yellow-locked {
  color: black;
  background-color: rgb(249, 223, 109);
}

.word-cell.green-locked {
  color: black;
  background-color: rgb(160, 195, 90);
}

.word-cell.blue-locked {
  color: black;
  background-color: rgb(176, 196, 239);
}

.word-cell.purple-locked {
  color: black;
  background-color: rgb(186, 129, 197);
}