.word-grid {
  overflow-x: auto;
  white-space: nowrap;
}

.word-row {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

.word-cell {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 2vw;
  text-align: center;
  margin: 1vw;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2vw;
  text-transform: uppercase;
  user-select: none;
  width: 15vw;
  height: 15vw;
  max-height: 70px; 
  overflow: hidden;
  font-size: min(2.5vw, 16px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.word-cell span {
  max-height: 100%;
  overflow-wrap: break-word;
}

.word-cell.selected {
  color: white;
  background-color: rgb(90, 89, 78);
}

.word-cell.yellow-locked {
  color: black;
  background-color: rgb(249, 223, 109);
}

.word-cell.green-locked {
  color: black;
  background-color: rgb(160, 195, 90);
}

.word-cell.blue-locked {
  color: black;
  background-color: rgb(176, 196, 239);
}

.word-cell.purple-locked {
  color: black;
  background-color: rgb(186, 129, 197);
}

.word-cell.yellow-locked.option {
  position: absolute;
  left: 9999px;
  opacity: 0;
}

.word-cell.green-locked.option {
  position: absolute;
  left: 9999px;
  opacity: 0;
}

.word-cell.blue-locked.option {
  position: absolute;
  left: 9999px;
  opacity: 0;
}

.word-cell.purple-locked.option {
  position: absolute;
  left: 9999px;
  opacity: 0;
}

.answer {
  width: 78vw;
}

.answers {
  font-weight: 200;
}

.action-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  margin: auto;
  margin-top: 10px;
}

.share-button {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  margin: 10px;
  background-color: rgb(204, 206, 210);
}

.submit-button {
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  width: 15vh;
  background-color: rgb(204, 206, 210);
}

.loss-buttons {
  display: flex;
  flex-direction: column;
}
