.input-words-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.input-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(238 240 245);
  border: 2px solid rgb(90, 89, 78);
  border-radius: 5px;
  padding: 10px;
  max-width: 300px;
  margin-bottom: 20px;
  margin-top: 8px;
}

.word-group {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
}

.yellow-word-group {
  border: 2px solid rgb(230, 199, 61);
  background-color: rgb(249, 223, 109);
}

.yellow-word-group input {
  border: 2px solid rgb(230, 199, 61);
}

.green-word-group {
  border: 2px solid rgb(114, 141, 61);
  background-color: rgb(160, 195, 90);
}

.green-word-group input {
  border: 2px solid rgb(114, 141, 61);
}

.blue-word-group {
  border: 2px solid rgb(110, 149, 235);
  background-color: rgb(176, 196, 239);
}

.blue-word-group input {
  border: 2px solid rgb(110, 149, 235);
}

.purple-word-group {
  border: 2px solid rgb(154, 57, 173);
  background-color: rgb(186, 129, 197);
}

.purple-word-group input {
  border: 2px solid rgb(154, 57, 173);
}

.word-input {
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 12px;
  margin-bottom: 5px;
  border-style: none;
  box-sizing: border-box;
}

.puzzle-name-container {
  width: 89%;
  margin: 10px;
}

.puzzle-name-input {
  border-style: solid;
  margin-bottom: 0px;
}

.clear-button,
.link-button {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.game-link {
  font-family: "Poppins", sans-serif;
  font-size: small;
  margin-right: 5px;
  border: 2px solid rgb(144, 146, 150);
  border-radius: 5px;
  padding: 3px;
}

.game-link-button {
  font-family: "Poppins", sans-serif;
  font-size: small;
  margin-bottom: 5px;
  background-color: rgb(204, 206, 210);
  border: 2px solid rgb(144, 146, 150);
  padding: 3px;
  border-radius: 5px;
}

.clear-button {
  background-color: rgb(204, 206, 210);
  border: 2px solid rgb(144, 146, 150);
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.link-button {
  background-color: rgb(232, 167, 83);
  border: 2px solid rgb(195 127 39);
}
